{% extends "gallery/base.html" %}

{% block sidebar%}
<div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item ">All</li>
      {% for category in categories %}
        <li class="list-group-item ">{{category.name}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="card mt-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item ">All</li>
      {% for location in locations %}
        <li class="list-group-item ">{{location.name}}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock sidebar%}

{% block content %}
<div class="row">
  {% for photo in photos %}
  <div class="col-md-4">
        <div class="card my-2">
            <img style='height: 250px;object-fit:cover;' src="{{photo.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Category: {{photo.category.name}}</p>
            </div>
            <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm">view</a>
        </div>
  </div>
  {% empty %}
    <h3>NO photos! Be the first to add one</h3>
  {% endfor %}
</div>
{% endblock content %}