{% extends "gallery/base.html" %}

{% block category%}
      {% for category in categories %}
        <li><a class="dropdown-item" href="{% url 'home' %}?category={{category.name}}">{{category.name}}</a></li>
      {% endfor %}
{% endblock category%}

{% block location%}
      {% for location in locations %}
        <li><a class="dropdown-item" href="{% url 'home' %}?location={{location.name}}">{{location.name}}</a></li>
      {% endfor %}
{% endblock location%}


{% block content %}
<div class="row">
  {% for photo in photos %}
  <div class="col-md-4">
        <div class="card my-2">
            <img style='height: 250px;object-fit:cover;' src="{{photo.image.url}}" class="card-img-top" alt="photo image">
            <div class="card-body">
              <p class="card-text">Category: {{photo.category.name}}</p>
            </div>
            <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm">view</a>
        </div>
  </div>
  {% empty %}
    <h3>NO photos! Be the first to add one</h3>
  {% endfor %}
</div>
{% endblock content %}