{% extends "gallery/base.html" %}

{% block content %}
    <div class="col">
        <a href="{% url 'home' %}" class="btn btn-dark my-2">Home page</a>
        <div style="height: 90vh;">
            <img style='max-width: 100%;max-height:100%;' src="{{photo.image.url}}" alt="photo image">
            <p>{{photo.description}}</p>
            <button type="button" class="btn btn-outline-info my-1 copy-btn"
                data-url="{% url 'photo' photo.id %}">copy image url</button>
        </div>
    </div>
{% endblock content %}